.html {
    font-family: 'Raleway', sans-serif !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* .menu li:not(:first-child) {
    border-left: 2px solid rgba(126, 56, 122, 0.425);
} */

.menu li:hover {
    background: rgba(126, 56, 122, 0.034);
}

/* 
.user-info {
    display: flex;
    justify-content: space-between;
} */

.user-info img {
    max-height: 6em;
    max-width: 6em;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}