.html {
    font-family: 'Raleway', sans-serif !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* .menu li:not(:first-child) {
    border-left: 2px solid rgba(126, 56, 122, 0.425);
} */

.menu li:hover {
    background: rgba(126, 56, 122, 0.034);
}